.modal {
  background: black;
  border: 1px solid white;
  padding: 30px;
}

.modal h3 {
  margin-top: 0;
}

.buttongroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singlebutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .buttongroup {
    flex-flow: column;
    gap: 15px;
  }
}