.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputall {
  display: flex;
  align-items: center;
}

.inputall button {
  border-left: 0;
}

@media (max-width: 800px) {
  .container {
    flex-flow: column;
  }
}