.graphcontainer {
  width: 100%;
  height: 500px;
}

.graphwidgetwrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.graphwidgetwrapper>div {
  min-width: 45%;
}

@media (max-width: 1100px) {
  .graphwidgetwrapper {
    flex-flow: column-reverse;
    align-items: center;
    margin-top: 40px;
  }
}