.header {
  padding: 0 var(--CONTENT-PADDING);
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.navlink {
  color: white;
  margin: 1em 1.5em;
  text-decoration: none;
}

.active {
  color: rgba(255, 255, 255, 0.6);
}

.navlinkcontainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  display: flex;
  margin-right: auto;
  padding-right: 4rem;
}

.rewardsheader {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 720px) {
  .navlink {
    margin: .5em;
  }

  .header {
    margin: 30px auto;
  }
}