.input {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 21px;
  padding: 3px 15px;
  text-align: center;
  height: 50px;
  max-width: 150px;
}

.gold {
  border: 2px solid #FAB000;
  color: #FAB000;
}

.green {
  border: 2px solid #1AFF00;
  color: #1AFF00;
}