.container {
  position: relative;
}

.container button {
  width: 100%;
}

.modalcontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  border: solid 2px white;
  border-radius: 20px;
  z-index: 1;
  padding: 20px;
}

.modalheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalheader>h3 {
  margin: 0;
}

.modalheader>div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.priceimpact {
  display: inline-flex;
  border: 1px solid red;
  border-radius: 5px;
  background: rgba(256, 0, 0, 0.3);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 5px;
}

.row {
  padding: 10px;
  cursor: pointer;
}

.tokendisplay {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.balancecontainer {
  display: flex;
  justify-content: flex-end;
  font-size: .9rem;
}

.maxbalance {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.insufficient {
  position: relative;
  height: 0;
}

.insufficient>span {
  color: #E23D28;
  font-size: .9rem;
}

.redborder {
  border-color: #E23D28 !important;
}

.tokeninput {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px white;
  border-radius: 20px;
}

.tokeninput input {
  height: auto;
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.tokeninput input:focus {
  border: none;
  outline: none;
}

.tokeninput input:focus-visible {
  border: none;
  outline: none;
}

.tokeninput span {
  font-size: .9rem;
  color: #ccc;
}

.moneywrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0 10px;
}

.quotebox {
  display: flex;
  flex-flow: column;
  border: solid 2px var(--LIGHT-GREY);
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.quotebox div {
  display: flex;
  justify-content: space-between;
}

.quotebox span {
  color: var(--LIGHT-GREY);
  font-size: 1rem;
}

.slippagecontainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.slippageinput {
  border: 1px solid white;
  display: inline-block;
}

.slippageinput>span {
  margin-right: 1rem;
}

.slippagelist {
  display: flex;
  flex-flow: row;
}

.slippagelist>div {
  cursor: pointer;
  padding: 0 10px;
}

.active {
  color: var(--GOLD);
}

.switcharr {
  cursor: pointer;
  text-align: center;
  padding: 20px 20px 0 20px;
  width: 70px;
  margin: auto;
}

@media (max-width: 400px) {
  .quotebox span {
    font-size: .85rem;
  }
}