.container {
  position: relative;
}

.container button {
  width: 100%;
}

.modalcontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  border: solid 2px white;
  border-radius: 20px;
  z-index: 1;
  padding: 0 40px 20px;
  margin: 5px;
}

.row {
  padding: 10px;
  cursor: pointer;
}

.tokendisplay {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.tokeninput {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px white;
  border-radius: 20px;
}

.tokeninput input {
  height: auto;
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.tokeninput input:focus {
  border: none;
  outline: none;
}

.tokeninput input:focus-visible {
  border: none;
  outline: none;
}

.tokeninput span {
  font-size: .9rem;
  color: #ccc;
}

.moneywrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0 10px;
}

.quotebox {
  display: flex;
  flex-flow: column;
  border: solid 2px var(--LIGHT-GREY);
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.quotebox div {
  display: flex;
  justify-content: space-between;
}

.quotebox span {
  color: var(--LIGHT-GREY);
  font-size: 1rem;
}


@media (max-width: 400px) {
  .quotebox span {
    font-size: .85rem;
  }
}